/* remove the white border around the screen */
* {
  padding: 0px;
  margin: 0;
}

/* animations */
@keyframes slideIn {
  0% {
    transform: translateY(75%);
    opacity: 0;
  }
  75% {
    transform: translateY(5%);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(-75%);
    opacity: 1;
  }
  75% {
    transform: translateY(-5%);
    opacity: 0.25;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

@keyframes slideInContents {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1
  }
}

@keyframes slideInBar {
  0% {
    transform: translateY(-75%);
    opacity: 0.3;
  }

  100 {
    transform: translateY(0%)
  }
}

@keyframes slideOutBar {
  0% {
    transform: translateY(225%);
    opacity: 0.6;
  }

  100 {
    transform: translateY(0%);
  }
}

/* hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Colors */
:root {
  --c1: lightblue;
  --c2: #E3EBFF;
  --c3: #FF8787;
  --title: #3C2317;
  --c5: #FF9494;
  --c5_5: #E7F6F2;
  --label: #E7F6F2;
  --search-bar-bg: #E7F0FF;
  --search-bar-bg-hover: white;
}

/* body, change the background-color */
body {
  background-color: var(--c1);
}

/* Main */
/* for the sticky search bar */
.search-bar {
  width: 100%;
  text-align: center;
  justify-content: center;
  position: relative;
  transition: 1s;
  margin-top: 10px;
}

/* sticky search bar  */
.fixs {
  position: fixed;
  animation: 0.5s  slideInBar;
}

.fixs input[type=text] {
  width: 65%;
}

.fixs input[type=text]:focus, .fixs input[type=text]:hover, input:hover {
  width: 70%;
  background-color: white;
}

input:focus, input:hover {
  background-color: white;
}

/* play animation when the search bar reaches the top of the page */
.bartop {
  position: relative;
  animation: 0.8s slideOutBar;
}

input[type=text] {
  width: 90%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height: 75px;
  border-radius: 100px;
  padding: 10px 25px;
  text-decoration: none;
  border: none;
  font-size: 30px;
  background-color: white;
}

input[type=text]:focus {
  width: 95%;
  outline: grey;
}

/* the container parent */
.main {
  margin-top: 2%;
  width: 100%;
  padding: 1px;
  transition: 0.5s;
  margin-bottom: 120px;
}

/* the container for the surah */
.container {
  width: 100% auto;
  border: 2px solid var(--c2);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: var(--c2);
  height: fit-content;
  transition: 0.8s;
  margin: 5px auto;
  display: block;
}

.show {
  display: block;
}

.container:hover {
  border: 2px solid var(--c5);
  cursor: pointer;
  background-color: var(--c5_5);
}

/* for the texts, fonts, sizes, etc. */
h1 {
  font-family: 'Arial';
  font-weight: bold;
  color: var(--title);
}

h2 {
  font-family: 'Arial';
  font-weight: lighter;
  color: var(--title);
}

label {
  font-family: 'Arial';
  color: grey;
  display: flex;
  width: fit-content;
  font-size: 20px;
}

/* for the audio player */
.audio-player-container {
  max-width: 100%;
  position: fixed;
  top: 95;
  bottom: 0%;
  width: 100%;
  max-height: fit-content;
  height: fit-content;
  animation: slideIn 1s;
  flex-direction: column;
  display: none;
}

.audio-player-container.out {
  animation: slideOut 1s;
}

.audio-player-container label {
  font-size: 20px;
  height: fit-content;
  padding: 10px 20px;
}
.audio-player-container {
  background-color: white;
}
